@font-face {
    font-family: 'Inter';
    font-weight: 200;
    src: url(./fonts/Inter.ttf) format('truetype');
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter";
    font-size: 12px;
}

main {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
}

.bold { font-weight: 900; }

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-column: 1 / 13;
}

#navigation {
    display: flex;
    justify-content: space-around;
    margin: 4px 0 8px;
}

#navigation .filter {
    padding: 8px;
    cursor: pointer;
}

#navigation .filter.selected { border-bottom: 2px solid #7572FF; }

#filtering {
    display: flex;
    justify-content: space-between;
    margin: 16px 0 8px;
    padding: 0 14px;
}

#cards {
    display: grid;
    grid-gap: 1em;
    grid-column: 1 / 13;
}

.card {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    background: #fff;
}

.card .slider_container {
    overflow: hidden;
    width: 100%;
}

.card .slider_container .image_slider {
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    border-radius: 16px;
    cursor: w-resize;
    scrollbar-width: none;
}

.card .slider_container .image_slider::-webkit-scrollbar { display: none; }

.card img {
    width: 100%;
    height: auto;
    border-radius: 16px;
    flex-shrink: 0;
    display: block;
}

.card h3 {
    font-size: 1.1em;
    margin: 0 0 .3em;
}

.listing_heading {
    display: flex;
    margin-top: 1em;
}

.heading_right {
    display: flex;
    margin-left: auto;
    gap: 1em;
}

.heading_left { color: #55595D; }

.card_badge {
    color: #fff;
    background-color: #3F3A50;
    padding: 3px 10px;
    border-radius: 8px;
    height: fit-content;
}

.star {
    background: url("./star_empty.png") no-repeat;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.star.full { background-image: url("./star_full.png") !important; }

.spec-pair {
    display: flex;
    gap: 8px;
    align-items: center;
    height: 100%;
}

#paginator {
    display: flex;
    gap: 8px;
}

#paginator .paginator {
    width: 50px;
    font-weight: 900;
    padding: 8px;
    border: 1px solid #D1D6E0;
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box;
}

#paginator .paginator:hover { border-color: #000; }

#paginator .paginator .selected {
    background-color: #7572FF;
    color: #fff;
}

/* MOBILE DISPLAY */
@media only screen and (max-width: 480px) {
    main { margin: 1em 0; }
    #cards { grid-template-columns: 1fr; }

    .card {
        border: none;
        box-shadow: none;
        width: 100vw;
        box-sizing: border-box;
        padding: 8px;
    }

    .card .bottom_specs {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 8px 0;
    }

    .card img { width: calc(100% / 3.5); }
}

/* TABLET DISPLAY + */
@media only screen and (min-width: 481px) {
    .card .slider_container .image_slider { border-radius: 16px 16px 0 0; }
    .card .card_body { padding: 14px; }
    .card img { width: 100%; }

    .miles, .fuel, .transmission, .body {
        width: max-content;
        top: 2em;
        z-index: 9;
        color: #fff;
        background-color: #3F3A50;
        padding: 3px 10px;
        border-radius: 8px;
        height: fit-content;
    }

    .miles { top: 12em; }

    .separator { display: none; }
    .top_specs { position: absolute; top: 22px; left: 22px; }
    .bottom_specs {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        bottom: calc(75px + 21px);
        left: 22px;
        gap: 8px;
        width: min-content;
    }

    .spec-pair { display: contents; }
    .bottom_specs>* { color: #fff; background-color: #3F3A50; padding: 3px 10px; border-radius: 8px; height: fit-content; }

    .payment, .price { display: none; }
    .specs-grid { grid-template-columns: 1fr; }
}

/* TABLET DISPLAY */
@media only screen and (min-width: 481px) and (max-width: 1899px) {
    #cards { grid-template-columns: repeat(2,1fr); }
    .card { padding-top: 0; }
}

/* DESKTOP DISPLAY */
@media only screen and (min-width: 1900px) and (max-width: 6600px) {
    #cards { grid-template-columns: repeat(3,1fr); }

    .card { padding: 0; }

    .card .slider_container {
        height: 250px;
    }

    .card .slider_container .image_slider { height: 100%; }

    .card .slider_container img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 16px 16px 0 0;
    }

    .card .card_body { padding: 8px; }
}

/* TV DISPLAY */
@media only screen and (min-width: 9001px) {
    #cards { grid-template-columns: repeat(4,1fr); }
    .card { padding-top: 0; }
}
